#ignore .mat files, anywhere in the tree

TempDat/*.mat
Text/*.aux
Text/*.log
Text/*.synctex.tz
Plots/
Plots/*.*
Codes/Func/test*.m
Slides/*.*
YinanSlides/*.*
Data/*.*
Data/
Codes/Data_Analysis/.ipynb_checkpoints/
Codes/Preprocessing
Codes/Spectrogram
Codes/Data_Analysis_View
Codes/Old_code_v0_LDS
Codes/Old_code_v1_FA
Codes/SD_code
